:root{
    --tittles-font: 'Anton', sans-serif;
    --p-font:'Satoshi', sans-serif;
}
*{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: var(--p-font);
    padding: 0;
    margin: 0;
}
header,main{
    padding: 16px;
}
/* header styles */
#sign-up{
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 9px;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
header img{
    transform: scale(0.78);
}
#header-icons{
    gap: 12px;
}